In [1]:
#widen display #thanks Nick!
from IPython.core.display import display, HTML, clear_output
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json
import gmaps
import time

# API Keys
from config import api_key

# Configure gmaps
gmaps.configure(api_key=api_key)

In [3]:
def findPlaces(params):
    #set global variable so name is returned
    global next_page_token
    global results_list

    #Google Places Search
    base_places_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response = requests.get(base_places_url, params=params)
    
    search_results = json.loads(response.text)
    results_list = search_results["results"]
    
    #Set next page token. Default is None.
    next_page_token = search_results.get("next_page_token", None)
    
    time.sleep(4) #add delay because it can take a moment before the the page token is actually available to make the subsequent call

    return next_page_token, results_list

In [4]:
# Read in the Dallas County Appraisal District (DCAD) property values file
file = "Resources/dcad_combined.csv"

#create DataFrame
dcad_df = pd.read_csv(file, usecols=['PROPERTY_ZIPCODE', 'TOT_VAL','SPTD_CODE'])
dcad_df.head(5)

   PROPERTY_ZIPCODE  TOT_VAL SPTD_CODE
0         750513060   103500       A11
1         750513040   145500       A11
2         750502208   168040       A11
3         750502277   200040       A11
4         750617840   151880       A11

In [5]:
#add column for 5 digit zipcode
dcad_df['ZIPCODE'] = dcad_df['PROPERTY_ZIPCODE'].astype(str).str[:5]
dcad_df.head(5)

   PROPERTY_ZIPCODE  TOT_VAL SPTD_CODE ZIPCODE
0         750513060   103500       A11   75051
1         750513040   145500       A11   75051
2         750502208   168040       A11   75050
3         750502277   200040       A11   75050
4         750617840   151880       A11   75061

In [6]:
#Group Property Values by Zipcode
zip_group = dcad_df.groupby('ZIPCODE')['TOT_VAL']
zip_group.describe()

,count,mean,std,min,25%,50%,75%,max
ZIPCODE,,,,,,,,
75001,1989.0,3.152085e+05,9.708673e+04,100.0,269610.0,331790.0,377690.0,640000.0
75006,11095.0,2.027066e+05,7.757599e+04,160.0,147125.0,191440.0,256520.0,631690.0
75007,583.0,2.004114e+05,5.800278e+04,1800.0,168440.0,196510.0,238275.0,369430.0
75019,11346.0,4.157977e+05,1.777850e+05,110.0,297412.5,385400.0,490000.0,2650000.0
75038,2985.0,3.584369e+05,3.124792e+05,100.0,163300.0,254610.0,434430.0,2526210.0
75039,2333.0,4.344581e+05,1.701174e+05,3200.0,316510.0,418640.0,505880.0,1279790.0
75040,17323.0,1.667878e+05,5.966218e+04,200.0,121980.0,161920.0,207470.0,456260.0
75041,7639.0,1.399951e+05,4.764328e+04,230.0,109055.0,132000.0,161420.0,457860.0
75042,8297.0,1.543849e+05,3.574186e+04,130.0,132860.0,150950.0,171340.0,534130.0
75043,16969.0,1.739277e+05,6.973162e+04,100.0,135200.0,164330.0,204570.0,1260000.0
75044,12372.0,2.354709e+05,9.722147e+04,100.0,174737.5,205680.0,280725.0,1591280.0
75048,5205.0,2.622231e+05,8.605285e+04,28840.0,211260.0,243390.0,295680.0,1308350.0
75050,6239.0,1.224220e+05,5.683930e+04,2380.0,77530.0,110260.0,167570.0,549910.0
75051,7789.0,1.181308e+05,4.813492e+04,700.0,85730.0,118320.0,148530.0,443540.0
75052,15529.0,1.826611e+05,5.932468e+04,90.0,143760.0,172310.0,217680.0,604950.0
75054,132.0,2.589986e+05,5.309323e+04,800.0,238045.0,273610.0,288417.5,316810.0
75060,10620.0,1.421423e+05,5.942342e+04,100.0,103880.0,135940.0,171390.0,754510.0
75061,8543.0,1.488057e+05,6.386508e+04,200.0,103795.0,143150.0,186575.0,773000.0
75062,9437.0,1.966841e+05,1.051536e+05,100.0,143930.0,167350.0,203820.0,1719230.0
75063,7748.0,3.711891e+05,1.168230e+05,100.0,289360.0,353005.0,445807.5,867890.0
75067,186.0,2.608623e+05,6.294038e+04,2280.0,237150.0,270600.0,311170.0,397460.0
75080,10636.0,2.766037e+05,1.233184e+05,100.0,198075.0,249345.0,329060.0,1458870.0
75081,9617.0,2.368593e+05,6.763636e+04,300.0,194600.0,234310.0,273890.0,771030.0
75082,784.0,3.050104e+05,8.156645e+04,26840.0,270460.0,290860.0,320005.0,1673000.0
75088,7093.0,2.250569e+05,8.134640e+04,100.0,177250.0,215020.0,264420.0,969720.0
75089,9809.0,2.414494e+05,6.838869e+04,100.0,199510.0,230560.0,271240.0,743680.0
75098,582.0,2.158292e+05,1.469260e+05,8260.0,96990.0,215340.0,321292.5,916220.0
75104,14527.0,2.023167e+05,1.176204e+05,810.0,146235.0,175410.0,219655.0,3930290.0
75115,15362.0,1.947953e+05,7.437820e+04,210.0,149355.0,182750.0,227040.0,1362530.0
75116,5238.0,1.426689e+05,4.514204e+04,17750.0,111297.5,138905.0,166465.0,558020.0
...,...,...,...,...,...,...,...,...
75220,5735.0,6.025323e+05,1.242347e+06,950.0,121210.0,249950.0,427860.0,25720520.0
75223,3317.0,1.400963e+05,1.536316e+05,6000.0,46390.0,72970.0,135200.0,1034940.0
75224,7082.0,1.263187e+05,6.729395e+04,15800.0,82002.5,111045.0,157575.0,643940.0
75225,7633.0,1.207824e+06,8.834304e+05,120.0,622200.0,1084750.0,1590000.0,20185280.0
75226,141.0,1.542568e+05,1.412548e+05,10020.0,32390.0,101080.0,240480.0,500310.0
75227,12542.0,1.238300e+05,6.020700e+04,10500.0,82782.5,112740.0,151947.5,633400.0
75228,14837.0,1.720463e+05,8.805764e+04,3080.0,116240.0,148890.0,214550.0,2010020.0
75229,9031.0,6.056789e+05,9.294305e+05,600.0,266070.0,390710.0,612755.0,29556320.0
75230,9337.0,7.046378e+05,5.812840e+05,100.0,238370.0,591890.0,953320.0,7500000.0
75231,5551.0,2.203651e+05,2.009862e+05,100.0,48830.0,105840.0,407730.0,977010.0
75232,8653.0,1.137634e+05,4.430807e+04,180.0,83510.0,118370.0,142590.0,543540.0
75233,3080.0,1.544199e+05,6.772959e+04,120.0,108525.0,155640.0,192470.0,737460.0
75234,8313.0,2.132182e+05,1.162580e+05,400.0,148740.0,186590.0,235300.0,1298490.0
75235,2816.0,1.572153e+05,1.028997e+05,10640.0,97437.5,125240.0,175895.0,870420.0
75236,2771.0,1.510987e+05,9.052483e+04,5870.0,99055.0,135130.0,175070.0,1020000.0
75237,1359.0,1.280276e+05,2.991674e+04,29270.0,109710.0,130960.0,148590.0,297820.0
75238,6772.0,3.811881e+05,1.455228e+05,400.0,290832.5,355160.0,437080.0,1421060.0
75240,2858.0,3.082931e+05,2.559995e+05,100.0,141252.5,226390.0,425837.5,2424880.0
75241,8833.0,9.017196e+04,3.282093e+04,3570.0,68950.0,85270.0,110890.0,500050.0
75243,10241.0,1.991844e+05,1.517727e+05,120.0,58520.0,179960.0,297360.0,1456260.0
75244,3272.0,4.118858e+05,2.033697e+05,200.0,292930.0,391375.0,513395.0,1862000.0
75246,333.0,1.769253e+05,1.282752e+05,24950.0,84280.0,169940.0,232340.0,692280.0
75247,6.0,3.534500e+04,6.868935e+03,25990.0,33382.5,34285.0,36575.0,47090.0
75248,10904.0,3.982486e+05,3.444864e+05,130.0,280030.0,373185.0,464962.5,11120340.0
75249,4705.0,1.669015e+05,4.276559e+04,34000.0,134190.0,158830.0,195200.0,470600.0
75252,262.0,6.376967e+05,3.459036e+05,300.0,366115.0,534180.0,916705.0,1888200.0
75253,3232.0,1.057382e+05,5.589858e+04,250.0,57270.0,108035.0,149682.5,571200.0
75254,3376.0,3.465426e+05,3.594867e+05,300.0,103040.0,173100.0,540000.0,2947400.0
75287,9.0,2.688500e+05,1.304254e+05,79380.0,142500.0,284000.0,376900.0,430280.0
76065,1.0,4.486000e+04,NaN,44860.0,44860.0,44860.0,44860.0,44860.0

In [7]:
zip_group_df = dcad_df.groupby('ZIPCODE')['TOT_VAL'].agg(('count', 'mean'))\
                    .rename(columns={'count':'PropertyValueCount', 'mean':'MeanPropertyValue'})\
                    .sort_values(by='MeanPropertyValue', ascending=False)\
                    .reset_index()

In [8]:
#Add columns to DataFrame to store business data
zip_group_df["MeanPropertyDollarValue"] = zip_group_df["MeanPropertyValue"].map("${:,.0f}".format)
zip_group_df['Lat'] = "" 
zip_group_df["Lng"] = ""
zip_group_df["City"] = ""
zip_group_df["State"] = ""
zip_group_df = zip_group_df.rename(columns={"ZIPCODE": "Zipcode"})

In [9]:
zip_group_df.head()

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
0,75205,6415,1.606362e+06,"$1,606,362",,,,
1,75225,7633,1.207824e+06,"$1,207,824",,,,
2,75201,1326,9.667580e+05,"$966,758",,,,
3,75209,5424,7.230552e+05,"$723,055",,,,
4,75230,9337,7.046378e+05,"$704,638",,,,

In [10]:
# create a params dict that will be updated with new zipcode each iteration
params = {"key": api_key}

# Loop through the zipcode pd's and run a lat/long search for each
for index, row in zip_group_df.iterrows():
    base_geocode_url = "https://maps.googleapis.com/maps/api/geocode/json"

    zipcode = row['Zipcode']

    # update address key value to zipcode
    params['address'] = zipcode

    # make request
    zips_lat_lng = requests.get(base_geocode_url, params=params)
    
    # convert to json
    zips_lat_lng = zips_lat_lng.json()
    #print(json.dumps(zips_lat_lng, indent=4, sort_keys=True))
    
    #loop through address to find city
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'locality':
            zip_group_df.loc[index, "City"] = i['long_name']
    
    #loop though address to find state
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'administrative_area_level_1':
            zip_group_df.loc[index, "State"] = i['short_name']
    
    #Update Lat, Long in Dataframe
    zip_group_df.loc[index, "Lat"] = zips_lat_lng["results"][0]["geometry"]["location"]["lat"]
    zip_group_df.loc[index, "Lng"] = zips_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [11]:
#visualize to lat/lng have been populated
zip_group_df.head()

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
0,75205,6415,1.606362e+06,"$1,606,362",32.8326,-96.7976,Dallas,TX
1,75225,7633,1.207824e+06,"$1,207,824",32.8695,-96.7896,Dallas,TX
2,75201,1326,9.667580e+05,"$966,758",32.7863,-96.7963,Dallas,TX
3,75209,5424,7.230552e+05,"$723,055",32.8539,-96.819,Dallas,TX
4,75230,9337,7.046378e+05,"$704,638",32.9005,-96.7869,Dallas,TX

In [12]:
#Google Places Types: https://developers.google.com/places/web-service/supported_types

#The types list can include multiple categories. A count and mean rating will be added to the final DataFrame for each type
types = ['bank','supermarket','hospital', 'cafe']

bank_names = ['bank', 'credit union']
not_supermarket_names = ['dollar', 'cents', 'liquor', 'convenience']
hospital_names = ['hospital', 'medical center', 'parkland']
cafe_names = ['starbucks']

In [ ]:
# params dictionary to update each iteration
for each_type in types:
    
    #clear console before starting a new type
    clear_output()
    
    params = {
        #3 mi radius. A Zipcode is not returned in the results, so we cannot 
        #match against our zipcode without doing a reverse lookup for every result
        "radius": 4828,
        "types": each_type,
        "key": api_key,
    }
    
    #variables for the specific column names for the business type we are searching
    count_column = f"{each_type}_count"
    rating_column = f"{each_type}_rating"
    
    #add columns for each type we looking up
    zip_group_df[count_column] = 0
    zip_group_df[rating_column] = 0

   
    # Use the lat/lng we recovered to search for businesses
    for index, row in zip_group_df.iterrows():

        rating_sum = 0
        rating_count = 0
        business_count = 0

        next_page_token = "" #initialize the page token

        # get lat, lng from df
        lat = row["Lat"]
        lng = row["Lng"]

        # change location each iteration while leaving original params in place
        #params["location"] = f"32.8326,-96.7976" #testing 1 lat, lng
        params["location"] = f"{lat},{lng}"

        while next_page_token != None:
            
            params["pagetoken"] = next_page_token
            
            #call places function
            findPlaces(params)

            #Loop through results list to count each business and get rating for each 
            for each_result in results_list:
                
                #get name in lower case
                business_name_lower = each_result["name"].lower()

                #check to make sure a Rating since not all business have a rating
                if each_result.get("rating") != None:
                    
                    if each_type == "bank" and any(n in business_name_lower for n in bank_names):
                        business_count+=1
                        rating = each_result["rating"]
                        rating_sum += rating                        
                    
                    if each_type == "hospital" and any(n in business_name_lower for n in hospital_names):
                        business_count+=1
                        rating = each_result["rating"]
                        rating_sum += rating     
                    
                    if each_type == "supermarket" and not(any(n in business_name_lower for n in not_supermarket_names)):
                        business_count+=1
                        rating = each_result["rating"]
                        rating_sum += rating
                        
                    if each_type == "cafe" and any(n in business_name_lower for n in cafe_names):
                        business_count+=1
                        rating = each_result["rating"]
                        rating_sum += rating                             
                                
                    #for printing to console
                    info = f'{row["Zipcode"]} | {each_result["name"]} | location: ({round(each_result["geometry"]["location"]["lat"],2)}, {round(each_result["geometry"]["location"]["lng"],2)}) | rating: {each_result.get("rating",0)}'
                    print(info)
            
            #Set Mean Rating to None if no businesses found
            try:
                mean_rating = rating_sum / business_count
                zip_group_df.loc[index, rating_column] = mean_rating
            except(ZeroDivisionError):
                zip_group_df.loc[index, rating_column] = None
                
            #Set business count in dataframe
            zip_group_df.loc[index, count_column] = business_count
            
        print(f'\nTotal number of {each_type}s found for {row["Zipcode"]}: {business_count} | rating_sum: {round(rating_sum,2)} | avg_rating: {round(mean_rating,2)}')
        print(f'------------------------------------------------------------------------------------------------------\n')

In [ ]:
zip_group_df.to_csv('Resources/zip_group_csv.csv')

In [ ]:
zip_group_df.head()