In [1]:
#widen display
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json
import gmaps
import time
from time import sleep

# API Keys
from config import api_key

# Configure gmaps
gmaps.configure(api_key=api_key)

In [3]:
#Google Places Types: https://developers.google.com/places/web-service/supported_types

#TODO: Can we incorporate this list into the loop so this list can change without changing the code
types = ['bank']#, 'library', 'park', 'liquor_store', 'hospital']

In [4]:
# Read in the Dallas County Appraisal District (DCAD) property values file

file = "Resources/dcad_combined.csv"

#create DataFrame
dcad_df = pd.read_csv(file, usecols=['PROPERTY_ZIPCODE', 'TOT_VAL'])
dcad_df.head(5)

   PROPERTY_ZIPCODE  TOT_VAL
0         750513060   103500
1         750513040   145500
2         750502208   168040
3         750502277   200040
4         750617840   151880

In [5]:
#add column for 5 digit zipcode
dcad_df['ZIPCODE'] = dcad_df['PROPERTY_ZIPCODE'].astype(str).str[:5]

In [6]:
#Group Property Values by Zipcode
zip_group = dcad_df.groupby('ZIPCODE')['TOT_VAL']

In [7]:
zip_group_df = dcad_df.groupby('ZIPCODE')['TOT_VAL'].agg(('count', 'mean'))\
                    .rename(columns={'count':'PropertyValueCount', 'mean':'MeanPropertyValue'})\
                    .sort_values(by='MeanPropertyValue', ascending=False)\
                    .reset_index()

In [8]:
#Add columns to DataFrame to store business data
zip_group_df["MeanPropertyDollarValue"] = zip_group_df["MeanPropertyValue"].map("${:,.0f}".format)
zip_group_df['Lat'] = "" 
zip_group_df["Lng"] = ""
zip_group_df["City"] = ""
zip_group_df["State"] = ""
zip_group_df = zip_group_df.rename(columns={"ZIPCODE": "Zipcode"})

In [9]:
# create a params dict that will be updated with new zipcode each iteration
params = {"key": api_key}

# Loop through the zipcode pd's and run a lat/long search for each
for index, row in zip_group_df.iterrows():
    base_geocode_url = "https://maps.googleapis.com/maps/api/geocode/json"

    zipcode = row['Zipcode']

    # update address key value to zipcode
    params['address'] = zipcode

    # make request
    zips_lat_lng = requests.get(base_geocode_url, params=params)
    
    # convert to json
    zips_lat_lng = zips_lat_lng.json()
    #print(json.dumps(zips_lat_lng, indent=4, sort_keys=True))
    
    #loop through address to find city
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'locality':
            zip_group_df.loc[index, "City"] = i['long_name']
    
    #loop though address to find state
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'administrative_area_level_1':
            zip_group_df.loc[index, "State"] = i['short_name']
    zip_group_df.loc[index, "Lat"] = zips_lat_lng["results"][0]["geometry"]["location"]["lat"]
    zip_group_df.loc[index, "Lng"] = zips_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
zip_group_df

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
0,75205,6415,1.606362e+06,"$1,606,362",32.8326,-96.7976,Dallas,TX
1,75225,7633,1.207824e+06,"$1,207,824",32.8695,-96.7896,Dallas,TX
2,75201,1326,9.667580e+05,"$966,758",32.7863,-96.7963,Dallas,TX
3,75209,5424,7.230552e+05,"$723,055",32.8539,-96.819,Dallas,TX
4,75230,9337,7.046378e+05,"$704,638",32.9005,-96.7869,Dallas,TX
5,75252,262,6.376967e+05,"$637,697",33.0009,-96.7976,Dallas,TX
6,75229,9031,6.056789e+05,"$605,679",32.8958,-96.8726,Dallas,TX
7,75220,5735,6.025323e+05,"$602,532",32.8622,-96.8726,Dallas,TX
8,75214,10429,5.574637e+05,"$557,464",32.8243,-96.744,Dallas,TX
9,75039,2333,4.344581e+05,"$434,458",32.8917,-96.9478,Irving,TX
10,75019,11346,4.157977e+05,"$415,798",32.9619,-96.9961,Coppell,TX
11,75244,3272,4.118858e+05,"$411,886",32.9312,-96.8405,Dallas,TX
12,75248,10904,3.982486e+05,"$398,249",32.9737,-96.7815,Dallas,TX
13,75182,2154,3.930622e+05,"$393,062",32.8067,-96.5463,Mesquite,TX
14,75206,7188,3.896058e+05,"$389,606",32.8225,-96.7762,Dallas,TX
15,75238,6772,3.811881e+05,"$381,188",32.8821,-96.7119,Dallas,TX
16,75219,8072,3.787560e+05,"$378,756",32.8122,-96.811,Dallas,TX
17,75063,7748,3.711891e+05,"$371,189",32.9117,-96.9907,Irving,TX
18,75038,2985,3.584369e+05,"$358,437",32.8722,-96.9961,Irving,TX
19,75218,7906,3.564176e+05,"$356,418",32.8378,-96.7012,Dallas,TX
20,75254,3376,3.465426e+05,"$346,543",32.9419,-96.8003,Dallas,TX
21,75204,4781,3.447888e+05,"$344,789",32.7995,-96.7869,Dallas,TX
22,75001,1989,3.152085e+05,"$315,208",32.9655,-96.8297,Addison,TX
23,75240,2858,3.082931e+05,"$308,293",32.9309,-96.7949,Dallas,TX
24,75082,784,3.050104e+05,"$305,010",32.9972,-96.6585,Richardson,TX
25,75080,10636,2.766037e+05,"$276,604",32.976,-96.7387,Richardson,TX
26,75208,7078,2.725775e+05,"$272,577",32.7457,-96.8458,Dallas,TX
27,75287,9,2.688500e+05,"$268,850",32.9985,-96.8405,Dallas,TX
28,75048,5205,2.622231e+05,"$262,223",32.9627,-96.5677,Sachse,TX
29,75207,3,2.612233e+05,"$261,223",32.7892,-96.8217,Dallas,TX
...,...,...,...,...,...,...,...,...
61,75146,6212,1.443953e+05,"$144,395",32.5704,-96.7601,Lancaster,TX
62,75116,5238,1.426689e+05,"$142,669",32.6576,-96.9155,Duncanville,TX
63,75150,13463,1.423525e+05,"$142,352",32.8246,-96.6317,Mesquite,TX
64,75060,10620,1.421423e+05,"$142,142",32.8013,-96.9585,Irving,TX
65,75223,3317,1.400963e+05,"$140,096",32.7906,-96.744,Dallas,TX
66,75041,7639,1.399951e+05,"$139,995",32.8779,-96.6495,Garland,TX
67,75134,5838,1.346555e+05,"$134,656",32.6356,-96.8029,Lancaster,TX
68,75149,15947,1.312740e+05,"$131,274",32.7584,-96.6104,Mesquite,TX
69,75237,1359,1.280276e+05,"$128,028",32.6712,-96.8726,Dallas,TX
70,75224,7082,1.263187e+05,"$126,319",32.7067,-96.8405,Dallas,TX
71,75227,12542,1.238300e+05,"$123,830",32.7763,-96.6959,Dallas,TX
72,75050,6239,1.224220e+05,"$122,422",32.7811,-97.0176,Grand Prairie,TX
73,75051,7789,1.181308e+05,"$118,131",32.7321,-96.9907,Grand Prairie,TX
74,75232,8653,1.137634e+05,"$113,763",32.6558,-96.8458,Dallas,TX
75,75159,4357,1.135519e+05,"$113,552",32.6149,-96.557,Seagoville,TX
76,75211,13380,1.079941e+05,"$107,994",32.7434,-96.8887,Dallas,TX
77,75253,3232,1.057382e+05,"$105,738",32.692,-96.589,Dallas,TX
78,75180,5759,1.047654e+05,"$104,765",32.7187,-96.6157,Mesquite,TX
79,75241,8833,9.017196e+04,"$90,172",32.6604,-96.7601,Dallas,TX
80,75141,833,8.490941e+04,"$84,909",32.6402,-96.7173,Hutchins,TX
81,75212,5974,8.415152e+04,"$84,152",32.783,-96.8834,Dallas,TX
82,75217,19317,8.055630e+04,"$80,556",32.71,-96.6745,Dallas,TX
83,75203,2802,7.551809e+04,"$75,518",32.7433,-96.7869,Dallas,TX
84,75172,881,6.372479e+04,"$63,725",32.6028,-96.6799,Wilmer,TX
85,75216,14850,5.710002e+04,"$57,100",32.7031,-96.8029,Dallas,TX
86,75215,4430,5.304015e+04,"$53,040",32.7557,-96.7655,Dallas,TX
87,76065,1,4.486000e+04,"$44,860",32.4805,-96.9639,Midlothian,TX
88,75125,121,4.210322e+04,"$42,103",32.5204,-96.6424,Ferris,TX
89,75247,6,3.534500e+04,"$35,345",32.8167,-96.8834,Dallas,TX
90,75210,1681,3.301014e+04,"$33,010",32.7654,-96.7414,Dallas,TX

In [10]:
#Get 5 Zipcodes with highest values
zip_group_top_and_bottom = zip_group_df.head(5)

In [11]:
#Get 5 Zipcodes with lowest values
zip_group_top_and_bottom = zip_group_top_and_bottom.append(zip_group_df.tail(5))
zip_group_top_and_bottom

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
0,75205,6415,1.606362e+06,"$1,606,362",32.8326,-96.7976,Dallas,TX
1,75225,7633,1.207824e+06,"$1,207,824",32.8695,-96.7896,Dallas,TX
2,75201,1326,9.667580e+05,"$966,758",32.7863,-96.7963,Dallas,TX
3,75209,5424,7.230552e+05,"$723,055",32.8539,-96.819,Dallas,TX
4,75230,9337,7.046378e+05,"$704,638",32.9005,-96.7869,Dallas,TX
86,75215,4430,5.304015e+04,"$53,040",32.7557,-96.7655,Dallas,TX
87,76065,1,4.486000e+04,"$44,860",32.4805,-96.9639,Midlothian,TX
88,75125,121,4.210322e+04,"$42,103",32.5204,-96.6424,Ferris,TX
89,75247,6,3.534500e+04,"$35,345",32.8167,-96.8834,Dallas,TX
90,75210,1681,3.301014e+04,"$33,010",32.7654,-96.7414,Dallas,TX

In [33]:
def findPlaces(params):
    #set global variable so name is returned
    global next_page_token
    global results_list

    #Google Places Search
    base_places_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response = requests.get(base_places_url, params=params)
    
    search_results = json.loads(response.text)
    results_list = search_results["results"]
    
    #Set next page token. Default is None.
    next_page_token = search_results.get("next_page_token", None)

    return next_page_token, results_list

In [68]:
# params dictionary to update each iteration
for each_type in types:
    
    params = {
        #3 mi radius. A Zipcode is not returned in the results, so we cannot 
        #match against our zipcode without doing a reverse lookup for every result
        "radius": 4828,
        "types": each_type,
        "keyword": "bank",
        "key": api_key,
    }
    
    #variables for the specific column names for the business type we are searching
    count_column = f"{each_type}_count"
    rating_column = f"{each_type}_rating"
    
    #add columns for each type we looking up
    zip_group_df[count_column] = 0
    zip_group_df[rating_column] = 0

   
    # Use the lat/lng we recovered to search for businesses
    for index, row in zip_group_top_and_bottom.iterrows():

        rating_sum = 0
        rating_count = 0
        business_count = 0

        next_page_token = "" #initialize the page token

        # get lat, lng from df
        lat = row["Lat"]
        lng = row["Lng"]

        # change location each iteration while leaving original params in place
        #params["location"] = f"32.8326,-96.7976" #testing 1 lat, lng
        params["location"] = f"{lat},{lng}"

        while next_page_token != None:
            
            params["pagetoken"] = next_page_token
            
            #call places function
            findPlaces(params)
            time.sleep(2) #have to add delay because it can take a moment for the pagetoken is actually available

            #Loop through results list to count each business and get rating for each 
            for each_result in results_list:
                if each_type == 'bank' and not "ATM" in each_result["name"]:
                    business_count+=1
                #check for KeyError since not all business have a rating
                try:
                    #print(f'{each_result["name"]}: {each_result["rating"]}')
                    rating = each_result["rating"]
                    rating_count += 1
                    rating_sum += rating
                except(KeyError):
                    next
            
            #Set Rating to 0 if there are not businesses returned
            try:
                zip_group_df.loc[index, rating_column] = rating_sum / rating_count
            except(ZeroDivisionError):
                zip_group_df.loc[index, rating_column] = 0
                #detail_df = pd.DataFrame.from_dict(results_list, orient='columns')
                
            #Increment the business count
            zip_group_df.loc[index, count_column] = business_count
            
        print(f'Total number of {each_type}s found for {row["Zipcode"]}: {business_count}')

Total number of banks found for 75205: 60
Total number of banks found for 75225: 60
Total number of banks found for 75201: 60
Total number of banks found for 75209: 60
Total number of banks found for 75230: 60
Total number of banks found for 75215: 52
Total number of banks found for 76065: 6
Total number of banks found for 75125: 1
Total number of banks found for 75247: 18
Total number of banks found for 75210: 15

In [74]:
zip_group_top_and_bottom

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
0,75205,6415,1.606362e+06,"$1,606,362",32.8326,-96.7976,Dallas,TX
1,75225,7633,1.207824e+06,"$1,207,824",32.8695,-96.7896,Dallas,TX
2,75201,1326,9.667580e+05,"$966,758",32.7863,-96.7963,Dallas,TX
3,75209,5424,7.230552e+05,"$723,055",32.8539,-96.819,Dallas,TX
4,75230,9337,7.046378e+05,"$704,638",32.9005,-96.7869,Dallas,TX
86,75215,4430,5.304015e+04,"$53,040",32.7557,-96.7655,Dallas,TX
87,76065,1,4.486000e+04,"$44,860",32.4805,-96.9639,Midlothian,TX
88,75125,121,4.210322e+04,"$42,103",32.5204,-96.6424,Ferris,TX
89,75247,6,3.534500e+04,"$35,345",32.8167,-96.8834,Dallas,TX
90,75210,1681,3.301014e+04,"$33,010",32.7654,-96.7414,Dallas,TX

In [91]:
# Store latitude and longitude in locations
top_zip_locations_to_map = list(zip(zip_group_top_and_bottom.head()['Lat'], zip_group_top_and_bottom.head()['Lng']))
bottom_zip_locations_to_map = list(zip(zip_group_top_and_bottom.tail()['Lat'], zip_group_top_and_bottom.tail()['Lng']))

In [93]:
top_zip_locations_to_map

[(32.7556954, -96.76545949999999),
 (32.4804629, -96.9638624),
 (32.5203683, -96.642433),
 (32.8166692, -96.8833562),
 (32.765421, -96.7413706)]

In [94]:
bottom_zip_locations_to_map

[(32.7556954, -96.76545949999999),
 (32.4804629, -96.9638624),
 (32.5203683, -96.642433),
 (32.8166692, -96.8833562),
 (32.765421, -96.7413706)]

In [95]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

In [96]:
# Assign the symbols layer to a variable
symbols_top = gmaps.symbol_layer(
        top_zip_locations_to_map, fill_color='blue', stroke_color='blue')
symbols_bottom = gmaps.symbol_layer(
        bottom_zip_locations_to_map, fill_color='red', stroke_color='red')

# Add the layer to the map
fig.add_layer(symbols_top)
fig.add_layer(symbols_bottom)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦